body {
    background-color: #50c28c;
    margin: 0;
}

.heading {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}

.heading-white {
    color: #ffffff;
}

.heading-center {
    text-align: center;
}

.header {
    background-color: black;
    height: 3em;
    padding: 1em;
}

.box {
    font-family: arial, helvetica, sans-serif;
    margin: 1em;
    box-sizing: border-box;
}

.box-gray {
    background-color: lightgray;
}


.float-left {
    float: left;
}

.float-right {
    float: right;
}

.box-transparent {
    background-color: transparent;
}

.box-skinny {
    width: 20%;
}

.box-wide {
    width: 70%;
    padding-left: 1em;
}

.button {
    display: inline-block;
    position: relative;
    overflow: visible;
    width: auto;
    zoom: 1;
    padding: 7px 20px 8px 20px;
    margin: 0 5px 5px 0;
    border-radius: 0;
    text-decoration: none;
    text-shadow: none;
    white-space: nowrap;
    font-size: 15px;
    letter-spacing: -.01em;
    font-family: 'FoundryMonolineRegular',Arial,Helvetica,sans-serif;
    line-height: 1.5;
    color: #000000;
    border: 0.2em #000000 solid;
    transition: all .2s ease-in-out;
    background-color: white;
}

.list-no-style {
    list-style: none;
}